* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.categorie {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.menuBlock {
  background-color: #35393b;
  height: 100vh;
  color: white;
  padding: 25px 0;
  width: 400px;
  position: absolute;
  left: -400px;
  transition: 1s;
}

.menuBlock h3 {
  color: #ff5c29;
  margin-bottom: 25px;
  margin-left: 25px;
}

.menuBlock ul {
  list-style: none;
}
.mainList:first-child {
  border-top: 1px #464646 solid;
}

.menuBlock ul ul {
  margin-left: 15px;
}

.menuBlock ul ul li {
  border: none;
}

.mainBlock {
  width: 100%;
  background-color: rgb(212, 0, 255);
}

header {
  background-color: rgb(4, 0, 255);
  height: 60px;
}

main {
  background-color: rgb(9, 255, 0);
}

.mainList li {
  border-bottom: 1px #464646 solid;
  padding: 5px 25px;
  cursor: pointer;
  justify-content: space-between;
}
.mainList li li {
  padding: 5px 0;
}

.mainList li:hover {
  background-color: #464646;
  color: #ff5c29;
}

.subList {
  display: none;
}

.thirdList {
  display: none;
}

.subList li:hover .thirdList {
  display: block;
}

.subList li {
  color: white;
}

.mainList a {
  text-decoration: none;
  color: white;
}

.mainList a:hover {
  color: #ff5c29;
}
.menuBlock li {
  cursor: pointer;
}

/* ------------------------- */

#china:checked ~ .subList,
#science:checked ~ .subList,
#aroundWorld:checked ~ .subList,
#culture:checked ~ .subList,
#archive:checked ~ .subList,
#world:checked ~ .subList,
#russia:checked ~ .subList,
#moscow:checked ~ .subList,
#opinion:checked ~ .subList,
#fashion:checked ~ .subList,
#sport:checked ~ .subList,
#video:checked ~ .subList,
#health:checked ~ .subList,
#aboutAll:checked ~ .subList {
  display: block;
}
#idishka:checked ~ .menuBlock {
  left: 0;
}

.inline {
  width: 15%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/menu.svg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 25px;
  transition: 1s;
}
.categorieLabel {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#idishka:checked ~ .inline {
  background-image: url(../images/close.svg);
  background-size: contain;
  background-position: center center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-bottom: 2px;
  left: 350px;
}

#idishka,
#inspiration,
#china,
#culture,
#science,
#aroundWorld,
#archive,
#world,
#russia,
#moscow,
#opinion,
#fashion,
#sport,
#video,
#health,
#aboutAll {
  display: none;
  width: 20%;
}
i {
  padding-bottom: 3px;
}
