* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.categorie {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.menuBlock {
  background-color: #35393b;
  min-height: 100vh;
  color: white;
  padding: 25px 0;
  width: 400px;
  position: absolute;
  left: -400px;
  transition: 1s;
}
.langBox{
  margin-bottom: 25px;
  padding-left: 20px; 
}

.langLabel{
  color: #ff5c29;
  font-size: 18px;
  cursor: pointer;
}

.menuBlock ul {
  list-style: none;
}
.mainList:first-child {
  border-top: 1px #464646 solid;
}

.menuBlock ul ul {
  margin-left: 15px;
}

.menuBlock ul ul li {
  border: none;
}

header {
  background-color: rgb(4, 0, 255);
  height: 60px;
}

main {
  background-color: rgb(9, 255, 0);
}

.mainList li {
  border-bottom: 1px #464646 solid;
  padding: 0 15px 0 20px;
  cursor: pointer;
  justify-content: space-between;
}

.mainList li:hover {
  background-color: #464646;
  color: #ff5c29;
}

.subList {
  display: none;
}

.thirdList {
  display: none;
}

.subList li:hover .thirdList {
  display: block;
}

.subList li {
  color: white;
}

.mainList a, .langBox a {
  text-decoration: none;
  color: white;
}

.mainList a:hover,
.langBox a:hover{
  color: #ff5c29;
}
.menuBlock li {
  cursor: pointer;
}

/* ------------------------- */

#china:checked ~ .subList,
#science:checked ~ .subList,
#aroundWorld:checked ~ .subList,
#culture:checked ~ .subList,
#archive:checked ~ .subList,
#world:checked ~ .subList,
#russia:checked ~ .subList,
#moscow:checked ~ .subList,
#opinion:checked ~ .subList,
#fashion:checked ~ .subList,
#sport:checked ~ .subList,
#video:checked ~ .subList,
#health:checked ~ .subList,
#aboutAll:checked ~ .subList {
  display: block;
}
#lang:checked ~ .langFlex{
display: flex;
justify-content: space-around;
}
.langFlex{
  padding:20px 50px 0 0 ;
  display: none;
}
.borderList{
  border-right:  1px #464646 solid;
}
#idishka:checked ~ .menuBlock {
  left: 0;
}
.inline {
  width: 15%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/menu.svg);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 25px;
  transition: 1s;
}
.categorieLabel {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#idishka:checked ~ .inline {
  background-image: url(../images/close.svg);
  background-size: contain;
  background-position: center center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-bottom: 2px;
  left: 350px;
}

#idishka,
#inspiration,
#china,
#culture,
#science,
#aroundWorld,
#archive,
#world,
#russia,
#moscow,
#opinion,
#fashion,
#sport,
#video,
#health,
#lang,
#aboutAll {
  display: none;
  width: 20%;
}
i {
  padding-bottom: 3px;
}
#china:checked ~ .arrow,
#inspiration:checked ~ .arrow,
#culture:checked ~ .arrow,
#science:checked ~ .arrow,
#aroundWorld:checked ~ .arrow,
#archive:checked ~ .arrow,
#world:checked ~ .arrow,
#russia:checked ~ .arrow,
#moscow:checked ~ .arrow,
#opinion:checked ~ .arrow,
#fashion:checked ~ .arrow,
#sport:checked ~ .arrow,
#video:checked ~ .arrow,
#health:checked ~ .arrow,
#aboutAll:checked ~ .arrow {
  transform: rotate(180deg);
}
.mainList label {
  display: inline-block;
  width: 92%;
  padding: 5px 0;
}
.mainList .arrow {
  display: inline-block;
  width: 3%;
}
.subList li li {
  padding: 5px 0;
}
.link {
  padding: 5px 0;
}
.secList li {
  padding: 5px 0;
}
.archiveList li{
  padding: 0 
}

